.register form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

button {
  background: rebeccapurple;
}

small {
  color: red;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px gray;
}

.chip {
  padding: 5px 10px;
  margin: 5px;
  background: rebeccapurple;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px gray;
}
